<mat-toolbar>
  <span>Visitor`s Book</span>
  <button mat-raised-button color="accent" [routerLink]="['/comments/new']">New Comment</button>
</mat-toolbar>

<router-outlet></router-outlet>

<div class="footer">Thank you for your time!</div>

