<mat-card >
<div *ngIf="comment">
<p>  Title: {{comment.getTitle()}}<br></p>
 <p> Description: {{comment.getValue()}}<br></p>
  <p>Date: {{comment.getDateAdded().toLocaleString()}}<br></p>
</div>

<button *ngIf="comment" mat-raised-button color="warn" (click)="onClick()">Delete</button>
</mat-card>
