<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef> Title </th>
        <td mat-cell *matCellDef="let element"> {{element.getTitle()}} </td>
      </ng-container>

      <ng-container matColumnDef="dateAdded">
          <th mat-header-cell *matHeaderCellDef> Date added </th>
          <td mat-cell *matCellDef="let element"> {{element.getDateAdded().toLocaleString()}} </td>
        </ng-container>

        <ng-container matColumnDef="type">
            <th mat-header-cell *matHeaderCellDef> Type </th>
            <td mat-cell *matCellDef="let element"> {{element.getType()}} </td>
          </ng-container>


      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row class="row" (click)="onClick(i)" *matRowDef="let row; columns: displayedColumns; let i = index"></tr>
</table>
