

  <app-comments-table *ngIf="comments.length>1" 
    [dataSource]="comments" 
    [renderRows]="renderRows"
    (rowClickedEmitter)="rowClicked($event)"></app-comments-table>


<form
    class="form"
    [formGroup]="newCommentForm"
  >
    <mat-card>
      <mat-card-header>
        Leave a new comment
      </mat-card-header>

      <mat-card-content>
          <mat-form-field>
            <input
              matInput
              placeholder="Title"
              formControlName="title"
            />
          </mat-form-field>
        </mat-card-content>

      <mat-card-content>
        <mat-form-field>
          <textarea
            matInput
            placeholder="Comment"
            formControlName="comment"
          ></textarea>
        </mat-form-field>
      </mat-card-content>

      <mat-card-content>
        <mat-form-field>
          <mat-select formControlName="type">
            <mat-option *ngFor="let type of commentTypes" [value]="type">
              {{type}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </mat-card-content>
     
   
      <mat-card-actions>
        <button
          mat-raised-button
          color="primary"
          type="submit"
          (click)="onSubmit()"
          [disabled]="newCommentForm.invalid"
        >
          Submit
        </button>
      </mat-card-actions>
    </mat-card>
  </form>
  <mat-card *ngIf="lastCommentAdded">
    <mat-card-header>
     Last Comment
    </mat-card-header>
    <div><p>{{lastCommentAdded.value}}</p></div>

    </mat-card>
